@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

:root {
  --BACKGROUND-COLOR: hsl(0, 0%, 0%);
  --light-color: 0, 0%, 100%;
  --dark-color: 0, 0%, 25%;
  --primary-color: 0, 0%, 50%;
  --highlight-a: #ff00ff;
  --highlight-b: cyan;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 24px;
  font-family: "Rubik";
}

body {
  height: 100vh;
  width: 100%;
  background-color: var(--BACKGROUND-COLOR);
}

.App {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

main {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  text-align: center;
}

.container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.headerMain,
.footerMain {
  height: 2rem;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
  position: fixed;
  background-color: hsl(var(--light-color), 0.3);
}

.headerMain a {
  width: auto;
  text-decoration: none;
  display: grid;
  place-content: center;
  text-decoration: none;
  color: black;
  padding: 0.25rem;
  background-color: white;
}

.headerMain a:hover {
  outline: none;
  box-shadow: 1px 1px #ff00ff, -1px -1px cyan;
  text-shadow: 1px 1px #ff00ff, -1px -1px cyan;
}

.headerMain {
  top: 0;
  border-bottom: 1px solid #ff00ff;
}

.footerMain {
  bottom: 0;
  border-top: 1px solid cyan;
}

.footerUser {
  width: 80%;
  display: flex;
  flex-flow: row nowrap;
  gap: 10px;
  align-items: center;
  justify-content: end;
}

.welcomeContainer,
.loginForm {
  --color: hsl(var(--light-color), 0.7);
  background-color: var(--color);
  box-shadow: 0 0 15px 0 var(--color);
  padding: 40px 30px;
  border-radius: 20px;
  max-width: 1200px;
  position: static;
}

.welcomeContainer,
.loginForm {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-evenly;
  align-items: center;
  width: 80%;
  height: 75%;
}

.welcomeText,
.welcomeLinks {
  padding: 5px;
  margin: 10px;
}

.welcomeText p {
  margin: 5px;
  padding: 10px;
}
.welcomeText {
  height: 50%;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-evenly;
}

.title {
  text-shadow: 1px 1px #ff00ff, -1px -1px cyan;
  text-align: center;
  background-color: white;
  padding: 0.5rem;
  border-radius: 20px;
}

.welcomeLinks {
  height: auto;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
}

.welcomeLinks a {
  background-color: white;
  display: grid;
  place-content: center;
  text-decoration: none;
  color: black;
  padding: 5px;
  border: 3px solid black;
  border-radius: 5px;
  width: 110px;
  height: 50px;
}

.welcomeLinks a:hover,
.welcomeLinks a:focus {
  outline: none;
  box-shadow: 1px 1px #ff00ff, -1px -1px cyan;
  text-shadow: 1px 1px #ff00ff, -1px -1px cyan;
}

.welcomeLinks a:active {
  color: white;
  background-color: var(--BACKGROUND-COLOR);
  box-shadow: none;
  text-shadow: none;
}

.loginError {
  position: relative;
  top: 7.5%;
  left: 0%;
  color: red;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.inputContainer input {
  font-size: 1.25rem;
  padding: 0.5em;
  background-color: hsl(var(--light-color), 0.3);
  border: none;
  outline: none;
  border-radius: 0.25em;
  color: black;
  font-weight: lighter;
}

.inputContainer label {
  color: black;
  font-weight: lighter;
}

.clientList {
  --color: hsl(var(--light-color), 0.7);
  background-color: var(--color);
  box-shadow: 0 0 15px 0 var(--color);
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 20px;
  width: 95%;
  height: 80%;
  max-height: calc(100% - 6rem);
  position: static;
  overflow: auto;
  scrollbar-width: none;
  display: flex;
  flex-flow: column nowrap;
  justify-content: start;
  align-items: center;
}

.headerOverlay {
  height: 3rem;
  width: calc(100% + 40px);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-color: var(--BACKGROUND-COLOR);
  display: block;
  position: sticky;
  top: 0;
}

.searchbar {
  height: 3rem;
  width: 100%;
  background-color: var(--color);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
}

.searchbar input {
  font-size: 2rem;
  height: 2.5rem;
  width: 50%;
}

.searchbar button {
  height: 2.5rem;
  width: 3.5rem;
  font-weight: bold;
  font-size: 0.75rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.searchbar .newButton {
  display: grid;
  place-content: center;
  font-size: 3rem;
  font-weight: lighter;
}

.clientCard {
  border: 1px solid black;
  box-shadow: 0 0 15px 0 var(--color);
  border-radius: 20px;
  padding: 1.5rem 2rem;
  background-color: hsla(0, 0%, 100%, 0.5);
  width: 100%;
  height: auto;
  margin-bottom: 0.5rem;
}

.clientContainer {
  height: 90%;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.clientInformation {
  height: 100%;
  width: 70%;
  display: flex;
  flex-flow: column nowrap;
  align-items: start;
  justify-content: start;
}

.clientNameContainer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: start;
  gap: 1rem;
  width: 100%;
  height: auto;
}

.clientName {
  height: auto;
  font-size: 3rem;
  letter-spacing: 0.25rem;
  font-weight: bold;
}

.edit {
  align-self: flex-start;
  width: 1rem;
  height: 1rem;
}

.clientLinkContainer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: start;
  align-items: center;
  gap: 0.25rem;
  width: 100%;
  height: 2rem;
}

.clientLinkContainer button {
  height: 1.25rem;
  width: 1.25rem;
  display: grid;
  place-content: center;
}

.userInfo {
  height: 100%;
  width: 20%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: center;
}

.username,
.stage {
  letter-spacing: 0.15rem;
  font-size: 1.5rem;
  font-weight: bold;
}

.stage {
  font-size: 1rem;
  font-weight: normal;
  font-style: italic;
}
