<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Expired</title>
  </head>
  <body>
    <h1>EXPIRED!</h1>
    <p>Your link has expired. Please contact your funding supervisor</p>
    <style>
      * {
        box-sizing: border-box;
        padding: 0;
        margin: 0;
      }
      body {
        height: 100vh;
        width: 100%;
        display: grid;
        place-content: center;
        background-color: black;
        color: #eee;
        text-align: center;
      }
    </style>
  </body>
</html>
