  <!DOCTYPE html>
            <html lang="en">
            <head>
            <meta charset="UTF-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1.0" />
            <title>Boge Group Calendar</title>
            </head>
            <body>
              <div class="googleCalendar">
                <iframe src="https://calendar.google.com/calendar/appointments/schedules/AcZssZ3JvAtb48RLVDPEmc1JyApcWtYaYjgCmq1pHrVCccbV_nA2RIv8gnP_TunnJV36OrVM4QcSDVNQ?gv=true" style="border: 0" width="100%" height="600" frameborder="0"></iframe>
              </div>
              <style>
                * {
                  box-sizing: border-box;
                  padding: 0;
                  margin: 0;
                }

                .googleCalendar {
                width: auto;
                height: 100vh;
                }

              .googleCalendar iframe {
                height: 100%;
                width: 100%;
              }
            </style>
          </body>
        </html>

